body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: black;
  color: white;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
}
h1 h2  {
    color: #333;
    
}
h3{
    color: #555;
    margin: 10px;
}
